.contacts__map {
  width: 100%;
  height: 215px;
  padding-left: 0;
  padding-right: 0; }

.contacts__title {
  text-align: left;
  font-size: 21px;
  color: #062033; }

.contacts__note {
  text-align: left;
  font-size: 13px;
  color: #6a737b; }

.contacts__social {
  margin-top: 30px; }

.contacts__social-link {
  font-size: 30px;
  padding-bottom: 3px;
  display: block;
  color: #000;
  opacity: 0.2;
  transition: opacity 0.2s ease-in; }
  .contacts__social-link:hover {
    opacity: 0.9; }

.map__frame {
  width: 100%;
  height: 215px;
  border: 0; }

.section__contacts--padding {
  padding-top: 73px; }

.contacts-content__padding {
  padding-bottom: 105px;
  padding-top: 31px; }

.form-contact__title {
  font-size: 24px;
  font-weight: 700;
  color: #062033;
  text-align: left; }

.form-contact__input {
  width: 100%;
  padding: 20px 0;
  margin-bottom: 20px;
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.2); }

.form-contact__button {
  border: none;
  background-color: transparent;
  float: right;
  color: #000;
  font-size: 16px;
  line-height: 22px;
  margin-top: 13px;
  padding: 0; }

.form-contact__button-icon {
  color: #0eb493;
  font-size: 22px;
  padding-right: 12px; }
