.facts {
  background-image: url("../images/facts/background.jpg"); }
  .facts__icon {
    margin: 0 auto;
    width: 130px;
    height: 130px;
    border-color: rgba(255, 255, 255, 0.4);
    border-radius: 65px;
    border-width: 2px;
    border-style: solid; }
  .facts__svg {
    margin-top: 45px;
    width: 40px;
    height: 40px; }
  .facts__path {
    fill: #fff; }
  .facts__number {
    font-size: 60px;
    color: #fff;
    font-weight: 600;
    margin: 30px 0 0 0;
    line-height: 1.3; }
  .facts__description {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    margin: 0; }

.section__facts--padding {
  padding-top: 70px;
  padding-bottom: 135px; }
