.home {
  position: relative;
  height: 800px;
  width: 100%; }
  .home__swiper-container {
    height: 800px;
    width: 100%; }
  .home-swiper-slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center; }
  .home-swiper-slide-1 {
    background-image: url("../images/home/slide1.jpg"); }
  .home-swiper-slide-2 {
    background-image: url("../images/home/slide2.jpg"); }
  .home-swiper-slide-3 {
    background-image: url("../images/home/slide3.jpg"); }
  .home__home-content {
    margin-top: 443px;
    margin-bottom: 100px; }
  .home__social-link {
    font-size: 21px;
    padding: 0 5px;
    opacity: 0.3;
    color: #fff; }
    .home__social-link:hover {
      opacity: 1;
      color: #fff; }

.home-content__title {
  margin: 0;
  color: #fff;
  font-size: 62px;
  font-weight: 300; }

.home-content__text {
  font-weight: 300;
  font-size: 48px;
  color: #fff;
  margin: -12px 0 0 0; }

.home-content__note {
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  margin: 0 0 0 0; }
  .home-content__note--hyphen {
    font-size: 30px;
    padding: 0 28px; }
