.team__padding {
  margin-top: 85px; }

.team__item-content {
  position: relative; }
  .team__item-content:hover ~ h3 {
    color: #0eb493; }

.team__overlay {
  position: absolute;
  top: 0;
  width: 0;
  width: 100%;
  height: 100%;
  background-color: #0eb493;
  opacity: 0;
  transition: opacity 0.2s ease-in; }
  .team__overlay:hover {
    opacity: 0.9; }

.team__photo {
  width: 100%;
  height: auto; }

.team__title {
  color: #fff;
  font-size: 16px;
  padding: 20px 20px 5px 20px;
  line-height: 1.6;
  font-weight: 700; }

.team__description {
  color: #fff;
  line-height: 1.5;
  padding: 0 20px 64px 20px;
  font-size: 16px;
  font-weight: 400; }

.team__name {
  color: #062033;
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0 0px 0;
  transition: color 0.2s ease-in; }

.team__position {
  font-size: 13px;
  font-weight: 400;
  margin: 5px 0 0 0;
  color: #979ca1; }

.team__social-link {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 24px;
  padding-top: 5px;
  text-align: center;
  display: inline-block;
  height: 42px;
  width: 42px; }

.team__swiper-container {
  padding-bottom: 98px; }

.section__team--padding {
  padding-top: 70px;
  padding-bottom: 117px; }
